div.clear {
    clear: both;
    width: 100%;
    height: 1px;
    margin-top: -1px;
}

body { margin: 0; padding: 0; }
#body { margin: 0; padding: 0; }

body, td, input, textarea, select {
    font-family: "helvetica neue", "helvetica", "arial", sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: #00D;
}
a:visited {
    color: #55C;
}
a:hover {
    color: #66f;
    text-decoration:underline;
}

#header {
    padding: 3px 1em 2px 1em;
    background: #ddf;
    font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
    font-size: 12pt;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #bbd;
}
#header a:visited {
    color: #00D;
}
#header div.header_left {
    margin: 0;
    padding: 0;
    float: left;
}
#header div.header_right {
    margin: 0;
    padding: 0;
    float: right;
}
#fileupload {
    display: inline;
}
div.clear {
    clear: both;
    width: 100%;
    height: 1px;
    margin-top: -1px;
}

#content {
    padding: 1em 1em 1em 1em;
/*    width: 786px;*/
}

#footer {
    font-size: 80%;
    width: 768px;
    padding: 0 1em 2em 3em;
}

/* blobs */
div.blob {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #bbd;
    padding: 0;
    margin-bottom: 1em;
}
div.blob-header {
    padding: 0.5em 0.5em 2px 0.75em;
    font-family: "helvetica", "arial", "sans-serif";
}

.blob-author-avatar {
    display: inline-block;
		margin-right: 1px;
    width: 27px;
    height: 27px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbd;
    padding: 0;
    vertical-align: middle;
}
.blob-author-avatar img {
    width: 27px;
    height: 27px;
    margin: 0;
}


div.blob-body {
		margin-left: 0.75em;
    padding: 0em 0.75em 0 30px;
    max-width: 786px;
}
div.blob-footer {
    padding: 0 0 1px 0;
    font-size: 80%;
    color: #999;
    font-family: "helvetica", "arial", "sans-serif";
}
div.blob-header-left {
    float: left;
}
div.blob-header-right {
    float: right;
}
div.blob-header span.blob-actions a {
    color: #00D;
    margin-left: 0.5em;
}

/* editor */

div.blob-edit-window {
		max-width: 786px;
}

div.CodeMirror {
		height: auto;
/*		min-height: 5em;*/

		border-style: solid;
		border-width: 1px;
		border-color: #ccc;
		border-radius: 4px;
}
div.CodeMirror-scroll {
		overflow-x: auto;
		overflow-y: hidden;
}

div.blob-edit {

}

div.blob-edit-window input.blob-edit-title {
		display: block;
		width: 100%;
		font-size: 150%;
		border-style: none;
		margin-bottom: 0.5em;
}

/* avatars */

div.user-avatar {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbd;
    padding: 0;
    vertical-align: middle;
}
div.user-avatar img {
    width: 27px;
    height: 27px;
    margin: 0;
}

/* user tooltip */
div.user-tooltip {
/*    width: 300px;*/
    height: 80px;
    background: #fff;
    padding: 1em;
/*	  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-width: 1px;
    border-style: solid;
    border-color: #bbd;*/
}
div.user-tooltip-avatar {
    display: inline-block;
    width: 72px;
    height: 72px;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbd;
    vertical-align: middle;
}
div.user-tooltip-avatar img {
    width: 72px;
    height: 72px;
    margin: 0;
}
.user-tooltip-side {
    display: inline-block;
}
.user-tooltip-name {
    font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
    font-size: 122%;
    margin-left: 10px;
}
.user-tooltip-email {
    font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
    font-size: 100%;
    margin-left: 10px;
    margin-top: 4px;
}


/* add web */

a#add_web {
    font-style: italic;
}

a.webEditButton {
    float: right;
    clear: none;
    font-style: italic;
}

#dropdown-upload-notifications div.dropdown-panel {
    max-width: 100%;
}

span.uploadNumInProgress {
    font-weight: bold;
}

/* web config */
form.web-config-name {
    padding-bottom: 1em;
}
form.web-config-name input[type="text"] {
    font-size: 150%;
}
.form-error {
    color: #e22;
    display: none;
}

/* inbox */

table.inbox-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    padding: 0;
}

.inbox-table tr {
    background: #eee;
    cursor: pointer;
}
.inbox-table td {
    empty-cells: show;
    overflow: hidden;
    text-overflow: clip;
    vertical-align: middle;
    white-space: nowrap;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #fefefe;
    padding: 4px;
}

col.inbox-editor {
    width: 150px;
}
col.inbox-time {
    width: 10em;
}
td.inbox-editor {
    padding-left: 1em;
}
td.inbox-summary {
    color: #999;
}
.inbox-summary-name {
    color: #000;
}
td.inbox-time {
    text-align: right;
    padding-right: 1em;
}

/* scratch */


#fileupload_div {
    width: 510px;
    float: right;
}

div.fileUploadBar {
    margin: 2px;
    border-width: 1px;
    border-color: #999;
    border-style: solid;
    padding: 5px;
    background: #ffe;
    width: 500px;
}

.fileUploadFilename {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.fileUploadSize {
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
    width: 4em;
}
.fileUploadBar progress {
    margin-left: 5px;
    margin-right: 5px;
    width: 210px;
    display: inline-block;
}
.fileUploadPercent {
    margin-left: 5px;
    width: 4em;
    text-align: right;
    display: inline-block;
}
.fileUploadError {
    color: red;
    font-weight: bold;
    width: 150px;
    text-align: center;
    display: inline-block;
}
.fileUploadUuid {
    margin-left: 5px;
    margin-right: 5px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.fileUploadRemove {
    margin-left: 5px;
    display: inline-block;
}
.fileUploadRemove a {
    float: left;
    text-decoration: none;
}
.fileUploadRemove a:hover {
    background: #eed;
}
