<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ handler.settings["app_title"] }}</title>
<link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css" />
<script type="text/javascript" src="{{ static_url("jquery-ui-1.10.3/jquery-1.9.1.js") }}"></script>
<script type="text/javascript" src="{{ static_url("jquery-ui-1.10.3/ui/jquery-ui.js") }}"></script>
<script type="text/javascript" src="{{ static_url("underscore-min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("mv.js") }}"></script>
<script type="text/javascript" src="{{ static_url("mv-ui.js") }}"></script>

<link type="text/css" rel="stylesheet" href="{{ static_url("jquery.dropdown.css") }}" />
<script type="text/javascript" src="{{ static_url("jquery.dropdown.js") }}"></script>

<script type="text/template" template-name="test-message-entry">
<div><%= data.args.user %>: <%= data.args.m %></div>
</script>

<!-- expects data.webid and data.blobid -->
<script type="text/template" template-name="blob-wrapper">
<div id="<%= data.id %>" class="blob-wrapper">
  <div class="blob-wrapped-dest">
    <em>loading...</em>
  </div>
</div>
</script>

<script type="text/template" template-name="blob-generic">
<div class="blob">
  <div class="blob-header">
    <div class="blob-header-left">
      <%- data.created %>
    </div>
    <div class="blob-header-right">
      <span class="blob-actions">
      actions:
      <a>edit</a>
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="blob-body">
    <div class="blob-content">
      <p><a href="<%= data.rawUrl %>" target="_blank"><%- data.titleish %></a></p>
    </div>
    <div class="blob-footer">
      <span user-tooltip="<%- data.editor %>"><%- data.editor %></span> / <%= data.uuid %> / <%- data.content_type %>
    </div>
  </div>
</div>
</script>

</head>
<body>

<div id="body">
  <div id="header">
    <div class="header_left">
      Web: <span id="web-selector">(no web)</span>
    </div>
    <div class="header_right">
      <form id="fileupload" method="post" enctype="multipart/form-data" action="/upload">
        {% module xsrf_form_html() %}
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload"/>
      </form>
      <a href="#" data-dropdown="#dropdown-upload-notifications">Uploads<span class="uploadNumInProgress" data-num-uploads></span></a> |
      <a href="#" data-dropdown="#dropdown-user">{{ handler.current_user.first_name + " " + handler.current_user.last_name}} <div class="user-avatar" data-avatar="{{ handler.current_user.email }}"></div></a>
    </div>
    <div class="clear"></div>
  </div>
  <div id="content">
    
  </div>
  <div id="footer">
    Metaview2 (very experimental) &mdash; Kyle Miller
  </div>
</div>

<form id="poll_info_form">
  {% module xsrf_form_html() %}
  <input type="hidden" name="channel_id" value="{{ channel_id }}"/>
</form>

<div id="dropdown-user" class="dropdown dropdown-tip dropdown-anchor-right">
  <ul class="dropdown-menu">
    <li style="padding:1em 1em 0 1em;"><span style="padding:0;font-size: 122%; font-family: sans-serif;margin: 2em 1em 1em 1em;">{{ handler.current_user.first_name + " " + handler.current_user.last_name}}</span></li>
    <li style="padding:1em 1em 1em 1em;"><span style="padding:0;font-family: sans-serif; margin: 0 1em 2em 1em;">{{ handler.current_user.email }}</span></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
</div>

<div id="dropdown-webs" class="dropdown dropdown-tip">
  <ul id="web_selector" class="dropdown-menu">
  </ul>
  <ul class="dropdown-menu">
    <li><a id="add_web" href="#">Add web</a></li>
  </ul>
</div>

<div id="dropdown-upload-notifications" class="dropdown dropdown-tip dropdown-anchor-right">
  <div class="dropdown-panel">
    <div id="file_upload_notifications">
    </div>
  </div>
</div>



</body>
</html>
