<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ handler.settings["app_title"] }}</title>
<link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css" />
<script type="text/javascript" src="{{ static_url("jquery-1.7.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("mv.js") }}"></script>
</head>
<body>
<div id="content">
  <h1>Metaview</h1>
  <p>Welcome to metaview, {{ handler.current_user }}.</p>

  <div id="webs">
    <select id="current_web_selector">
    </select>
    <a id="add_web" href="#">+</a>
    <a id="rename_web" href="#">rename</a>
  </div>

  <div id="polldest">
  </div>
</div>

<form id="test_form">
  <input type="text" name="m"/>
  <input type="submit"/>
</form>

<form id="fileupload" method="post" enctype="multipart/form-data" action="/upload">
  <input type="file" name="files" multiple />
  <input type="submit" value="Upload"/>
</form>
<div id="file_upload_notification"/>

<form id="poll_info_form">
  {% module xsrf_form_html() %}
  <input type="hidden" name="channel_id" value="{{ channel_id }}"/>
</form>

</body>
</html>
